/* Caption text */
.text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


.name-heading {
    font-family: 'Just Me Again Down Here';
    font-size: 128px;
}

.fun-font {
    font-family: 'Just Me Again Down Here';
    font-size: 48px
}

.caption-text {
    font-family: 'Just Me Again Down Here';

}

.caption-text-2 {
    font-family: 'Lato';
}

.line-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.tabs.is-centered a {
    text-decoration: none;
}

.line-text hr {
    flex-grow: 1;
    border: none;
    background-color: black;
    height: 1px;
}

.line-text span {
    padding: 0 10px;
}

.navbutton {
    background-color: #bbb;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.6s ease;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.navbutton:hover {
    background-color: #555;
    color: whitesmoke;
}

.img-container {
    height: 100%;
    max-width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-tile {
    object-fit: cover;
}

.left-tiled {
    width: auto;
    max-width: 100%;
    padding-right: 2.5%;
}

.right-tiled {
    width: auto;
    max-width: 100%;
    padding-left: 2.5%;
}

.tile {
    max-width: 100%;  
    padding-top:2.5% 
}
@media screen and (min-width: 1500px) {
    .yoo {
        max-width: 950px;
    }
}

@media screen and (max-width: 1000px) {
    .name-heading {
        font-size: 80px;
    }
}
@media screen and (max-width: 800px) {
    .fun-font {
        font-size: 32px;
        /* Adjust as needed */
    }

    .name-heading {
        font-size: 64px;
        /* Adjust as needed */
    }

    .image-container {
        flex-direction: column;
    }

    .left-tiled {
        padding-right: 0%;
    }
    
    .right-tiled {
        padding-left: 0%;
    }

}